.find-courses header.search, .university-profile header.search {
	background-image: url("../images/background-image-ncu.png");
}

.course-info header.course-profile {
	background: url("../images/background-image-ncu.png") repeat scroll 0 0 / cover #F5F5F5;	
}

.home>header {
	background-image: url("../images/background-image-ncu.png");
}

.view-login .introduction header {
    background-image: url("../images/login-and-register-banner.png");
}

.view-register .introduction header {
    background-image: url("../images/login-and-register-banner.png");
}
