<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>

<%inherit file="../../../main.html" />

<%block name="pagetitle">${_("Privacy Policy")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>${_("Privacy Policy")}</h1>
        <p><strong>本平台委由<a href="https://www.openedu.tw">中華開放教育平台</a>營運，本平台隱私權保護與資訊安全政策請見「<a href="https://www.openedu.tw/privacy.jsp">中華開放教育平台隱私權保護與資訊安全政策</a>」</strong></p>
    </section>
</main>
